/* Dashboard specific styles */
.grid-container {
    display: flex;
    gap: 24px;
}

.grid-left-col {
    flex: 2.3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid-right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-cards-row {
    display: flex;
    gap: 24px;
}

.account-summary-wrapper {
    flex: 1.5;
}

.behavioral-bias-wrapper {
    flex: 1;
}